fastapi==0.105.0
uvicorn==0.24.0
python-dotenv==1.0.0
openai==1.86.0
mangum==0.17.0
pydantic-settings==2.1.0
langchain==0.1.17
langchain-core==0.1.52
langchain-openai==0.0.6
langchain-community==0.0.38
langsmith==0.1.17
tenacity==8.2.3
pydantic~=2.11.7
chromadb
nltk
requests
tqdm